:root {
  --text: #3a3a3a;
  --highlight: #fe6e00;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
  color: var(--text);
  background-color: #77c3ec;
}

a {
  text-decoration: none;
}

p {
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}

@media (max-width: 1159px) {
  body {
    font-size: 14px;
    line-height: 1.2rem;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
    background-color: #fff;
  }
}
